out_dir_name = "debug"
suffix = false
batch_size_valid = 256

[data]
path = "~/dataset/traffic/traffic.csv"
colname_timestamp = "date"
white_list = [0, 1, 2, 3]
step_start = 0
step_width = 1
seq_len = [24, 7, 4]
pred_len = [24, 7]

# -------------------- for train --------------------

[[criteria]]
path = "torch.nn.MSELoss"
params = {}

[[criteria]]
path = "torch.nn.L1Loss"
params = {}

[model]
path = "shiroinu.models.dlinear.DLinear"
[model.params]
seq_len = [24, 7, 4]
pred_len = [24, 7]
kernel_size = 25
bias = true

[optimizer]
path = "torch.optim.Adam"
params = {"lr" = 0.001}

[lr_scheduler]
path = "torch.optim.lr_scheduler.CosineAnnealingLR"
params = {"T_max" = 10}

[batch_sampler]
path = "shiroinu.batch_sampler.BatchSamplerShuffle"
params = {"batch_size" = 64}

[[tasks]]
n_epoch = 40
early_stop = true
train_range = [0.0, 0.1]
valid_range = [0.1, 0.2]

# -------------------- for eval --------------------

[criterion_eval]
path = "shiroinu.criteria.MAELoss"
params = {"n_channel" = 4}

[[models_eval]]
path = "shiroinu.models.simple_average.SimpleAverage"
[models_eval.params]
seq_len = [24, 7, 4]
pred_len = [24, 7]
period_len = [24, 7]

[[models_eval]]
path = "shiroinu.models.dlinear.DLinear"
[models_eval.params]
seq_len = [24, 7, 4]
pred_len = [24, 7]
kernel_size = 25
bias = true
state_path = "../shiroinu_/model_state_best.pth"

[[tasks_eval]]
train_range = [0.0, 0.75]  # for scaling
valid_range = [0.75, 1.0]
